{# {% import 'sqlalchemy/functions.py.j2' as functions %} #}
from typing import Any, List, Optional

from sqlalchemy import (
    JSON,
    ForeignKey,
    Index,
    String,
    Text,
    UniqueConstraint,
)
from sqlalchemy.orm import (
    Mapped,
    mapped_column,
    relationship,
)

from . import Base

{% for modeltype in compiler.modeltypes %}

class {{modeltype.__name__}}(Base):
{% if modeltype.__doc__ %}
    """{{modeltype.__doc__}}"""

{% endif %}
    __tablename__ = "{{modeltype.collection_name}}"
    id: Mapped[int] = mapped_column(primary_key=True, autoincrement=True)
{% for md in modeltype.metadescriptors(Field, Parent, Query).values() %}
    {{compiler.descriptor(md)}}
{% endfor %}

{% endfor %}
