{# templates/dataclass_init.py.j2 #}
    
{# {% macro init (prototype) %} #}

from codegen.base import Data

class {{name}}(Data):

    def __init__(self
        {%- if not annotations -%}
    ):
        pass
        {%- else -%}
        {%- for name, type_ in annotations.items() -%}
        , {{name}}: {{type_}}
        {%- endfor -%}
        ):
        {% for name, type_ in annotations.items() %}
        self.{{name}} = {{name}}
        {% endfor %}
        {% endif %}
{# {% endmacro %} #}
